<h1>Publish meow</h1>

{{!-- We can omit action because we want form to be posted to same path --}}
<form method="POST">
  <label for="input-message">Message</label>
  <textarea id="input-message" name="message" placeholder="Your message..."></textarea>

  <button>Publish Meow</button>
</form>
